.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px 0 25px;
}

.description {
  width: 290px;

  display: inline-block;

  background-color: #ffffff;

  text-align: center;

  padding: 5px;

  border: 1px solid black;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  box-shadow: 0 0 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%),
    0 0 1px -2px rgb(0 0 0 / 20%);

  .avatar {
    width: 150px;

    margin: 20px auto;

    border-radius: 50%;
  }

  .name {
    font-weight: 700;
    font-size: 20px;

    margin: 0 0 10px;
  }

  .tag,
  .location {
    color: rgba(46, 48, 48, 0.82);
  }

  .location {
    margin: 10px 0 20px;
  }
}

.stats {
  width: 300px;

  background-color: rgba(235, 244, 244, 0.601);

  display: flex;
  align-items: center;

  text-align: center;

  border: 1px solid black;
  border-top: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);

  > li {
    width: 100px;

    display: flex;
    flex-direction: column;
  }

  > li:not(:last-child) {
    border-right: 1px solid black;
  }

  .label {
    color: rgba(46, 48, 48, 0.82);

    margin: 15px 0 10px;
  }

  .quantity {
    font-weight: 700;

    margin-bottom: 15px;
  }
}
